body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.orangered-color {
  color: orangered;
}
section {
  display: flex;
  padding-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-btn {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(orangered, tomato);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.top-ban {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.mission {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.half-width p {
  padding-right: 100px;
}
