body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.half-width h1 {
  line-height: 50%;
}
.half-width h2 {
  line-height: 50%;
}
#hw-content {
  margin-top: 120px;
}
.half-width p {
  padding-bottom: 50px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orangered-color {
  color: orangered;
}
.flexi-container {
  display: flex;
  padding-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  margin: 70px 0 0 50px;
}
.half-width img {
  width: 80%;
  margin-left: 25px;
}
.link-btn {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(orangered, tomato);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.top-ban {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
  background-position: initial;
}
.mission {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.half-width p {
  padding-right: 100px;
}
.exp {
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.exp h1 {
  margin-left: 77px;
}
.exp-item {
  width: 40%;
  margin: 0 5% 5% 5%;
  padding: 20px 50px 50px 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 30px gray;
}
#fl-s-w-dev {
  border-left: 7px solid tomato;
}
#jr-w-dev {
  border-left: 7px solid navy;
}
footer p {
  text-align: center;
}
